.disclaimer {
	float: right;
	font-size: 19px;
	padding-top: 10px;
}

.confirm-div {
	width: 100%;
	height: 50px;
}

.email-input {
	float: right;
	width: 60%;
	height: 40px;
	font-size: 20px;
}

.btn-confirm {
	float: right;
	width: 30%;
	height: 40px;
}

.btn {
	color: #F2F2F2;
	border-radius: 0px;
	font-weight: 400;
	margin-bottom: 5%;
	padding-left: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.btn-primary {
	background-color: #000066;
}

.btn-primary:hover {
	background-color: #000055;
}

.btn-primary:focus {
	background-color: #000055;
}

.form-control {
	width: 50%;
	float: right;
	height: 40px;
	font-size: 20px;
	border: 1px solid #999;
	border-radius: 0px;
	padding: 6px 12px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #26267D;
	background-color: #FFCC33;
	display: table;
	font-weight: 200;
	font-family: 'Roboto';
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.content {
	text-align: center;
	display: inline-block;
	position: relative;
	min-height: 1px;
	width: 100%;
	float: left;
}

.title {
	font-size: 70px;
	font-weight: 300;
	float: right;
} 

.quote {
	font-size: 24px;
}

.numbers {
	font-weight: 400;
	font-size: 20px;
	display: inline-block;
	float: right;
	margin-top: 0px;
}

.disclaimer {
	float: right;
	font-size: 19px;
}

@media screen and (max-width: 500px) {
    .div-container {
		padding-right: 2%;
		height: 90px;
	}
}

@media screen and (min-width: 501px) {
    .div-container {
		padding-right: 25%;
		height: 90px;
	}
}

/*
	F A C E B O O K   B U T T O N   S T Y L E
 */
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

.fb-button {
	width: 448px;
	float: right;
	font-size: 25px;
	text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
